<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/minimal-reset.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/js/index.js"></script>
    <title>Растения</title>
</head>
<body>
    <header class="header">
        <!-- Прикрутить тут шаблон, см. доку Django раздел templates -->
        <div></div>
        <div class="header__login">
            <button class="button">Войти / Зарегаться</button>
        </div>
    </header>
    <main class="main flex-column">
        <h1 class="mb">Растения</h1>
        <div class="flex-column">
            <!-- Прикрутить тут шаблон, см. доку Django раздел templates -->
            <div class="articles">
                <div class="articles__item">
                    <img class="image mb" src="../assets/img/nightshade.jpeg" alt="Plant">
                    <h5 class="name">name</h5>
                    <p class="description mb">description</p>
                    <div class="stats">
                        <img class="icon" src="../assets/img/icons_comment.svg" alt="Icon">
                        <span>comments_count</span>
                    </div>
                  </div>
                  <div class="articles__item">
                    <img class="image mb" src="../assets/img/nightshade.jpeg" alt="Plant">
                    <h5 class="name">name</h5>
                    <p class="description mb">description</p>
                    <div class="stats">
                        <img class="icon" src="../assets/img/icons_comment.svg" alt="Icon">
                        <span>comments_count</span>
                    </div>
                  </div>
                  <div class="articles__item">
                    <img class="image mb" src="../assets/img/nightshade.jpeg" alt="Plant">
                    <h5 class="name">name</h5>
                    <p class="description mb">description</p>
                    <div class="stats">
                        <img class="icon" src="../assets/img/icons_comment.svg" alt="Icon">
                        <span>comments_count</span>
                    </div>
                  </div>
                  <div class="articles__item">
                    <img class="image mb" src="../assets/img/nightshade.jpeg" alt="Plant">
                    <h5 class="name">name</h5>
                    <p class="description mb">description</p>
                    <div class="stats">
                        <img class="icon" src="../assets/img/icons_comment.svg" alt="Icon">
                        <span>comments_count</span>
                    </div>
                  </div>
                  <div class="articles__item">
                    <img class="image mb" src="../assets/img/nightshade.jpeg" alt="Plant">
                    <h5 class="name">name</h5>
                    <p class="description mb">description</p>
                    <div class="stats">
                        <img class="icon" src="../assets/img/icons_comment.svg" alt="Icon">
                        <span>comments_count</span>
                    </div>
                  </div>
                  <div class="articles__item">
                    <img class="image mb" src="../assets/img/nightshade.jpeg" alt="Plant">
                    <h5 class="name">name</h5>
                    <p class="description mb">description</p>
                    <div class="stats">
                        <img class="icon" src="../assets/img/icons_comment.svg" alt="Icon">
                        <span>comments_count</span>
                    </div>
                  </div>
                  <div class="articles__item">
                    <img class="image mb" src="../assets/img/nightshade.jpeg" alt="Plant">
                    <h5 class="name">name</h5>
                    <p class="description mb">description</p>
                    <div class="stats">
                        <img class="icon" src="../assets/img/icons_comment.svg" alt="Icon">
                        <span>comments_count</span>
                    </div>
                  </div>
            </div>
        </div>
    </main>
</body>
</html>